.app.dark {
    --bg-color: rgb(3, 3, 73);
    --inverted-bg-color:  rgb(160, 160, 241);

    --primary-color: rgb(0, 187, 0);
    --secondary-color: rgb(91, 245, 91);
    --inverted-primary-color: rgb(122, 0, 138);
    --inverted-secondary-color: rgb(161, 0, 224);
}